body {
	background-image: url(../images/vintage-concrete.png);
}

img {
	float: left;
	width: 125px;
	height: 125px;
	margin-left: 2%;
}

.info {
	font-family: 'Indie Flower', cursive;
}

#targetNumber{
	font-size: 60px;
    float: left;
    color: white;
    background: green;
    margin-left: 12%;
    padding-bottom: 9%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 1%;
}

#winsAndLosses {
	float: left;
    background: blue;
    color: white;
    font-size: 40px;
    padding-left: 6%;
    padding-right: 8%;
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;

}

#headerText {
	font-size: 31px;
    font-family: 'Lobster', cursive;
    color: red;
    transform: rotate(55deg);
    margin-left: 12%;
    transform: translate(23px,-44px);
}

#instructions {
	text-align: center;
    line-height: 38px;
    background: black;
    color: white;
    width: 76%;
    margin: auto;
    margin-top: 1%;
}


#crystalBox {
	width: 84%;
    margin: auto;
    clear: both;
}

#blueCrystal {
	margin-right: 9px;
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 1%;
}

#totalScore {
	clear: both;
    background: black;
    color: floralwhite;
    width: 20%;
    margin-left: 12%;
    padding-bottom: 2%;
    text-align: center;
    padding-top: 2%;
}

#greenCrystal {
	margin-right: 9px;
    margin-top: 10px;
}

#yellowCrystal {
	margin-right: 9px;
    margin-top: 10px;
}

#redCrystal {
    margin-top: 10px;  
}

#container {
	width: 80%;
	margin: 0 auto; 
}

#header {
	background-image: url("../images/Unicorn Rainbow.jpg");
	color: white;
	text-align: center;
	width: 20%;
	margin: auto;
	padding: 5%;
}

#scoreShown {
	width: 50%;
    background: slategray;
    color: floralwhite;
    text-align: center;
    margin-left: 12%;
    padding: 2% 0;
    margin-top: 1%;
}